
{% extends 'base.html' %}

{% block title %} Logos {% endblock %}

{% block content %}
    <section class="customer-list-section">
        <div class="container">
            <div class="content">

                <div class="title-box">
                    <div class="page-title">
                        <h3>Add New Logo</h3>
                    </div>
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs-list">
                            <li><a href="{% url 'dashboard' %}"><span><img src="/static/images/icons/Home.svg" alt="more"></span>Dashboard</a></li>
                            <li><a href="{% url 'logo' %}">Logo List</a></li>
                            <li><a href="{% url 'add_new_logo' %}">Add New Logo</a></li>
                        </ul>
                    </div>
                    
                </div>

                <div class="form-area-content">
                    <div class="form-inner-content">
                        
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" >
                            
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-field">
                                    <label for="name"> Name*</label>
                                    <input type="text" name="name" id="name" >
                                </div>                            
                            </div>

                           
                            <div class="form-group">
                                <div class="input-field">
                                    <label for="logo"> Logo*</label>
                                    <input type="file" name="logo" id="logo" accept="image/*">
                                </div>
                            </div>
                           
                             
                            

                            <div class="form-group">
                                <div class="form-button">
                                    <input type="submit" class="button blue-button" value="Save">
                                    <a href="{% url 'logo' %}" class="button primary-button cancle-button">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('.select2-single').select2();
});
</script>
{% endblock %}